@model API_practica.Models.employees

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee_salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employee_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employee_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profile_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profile_image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
